
header {
color: white;
background-color: black;
text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "searchSite searchSite searchSite"
      "imageRotate imageRotate imageRotate"
      "tools sub savePage";
  }



  
  .searchSite { 
    grid-area: searchSite; 
  }
  
  .imageRotate { grid-area: imageRotate;}
  .imageRotate img{
    position: relative;
    padding: 10px;
    margin: auto;
  }
  .imageRotate img:hover{
    transform:scale(1.1);
  }
  
  .tools { 
    grid-area: tools; 
    margin: 10px;
  }
  
  .sub { 
    grid-area: sub;
    margin: 10px;
  }
  
  .savePage { 
    grid-area: savePage;
    margin: 10px;

  }
  
  .footerNav{
    text-align: center;
  }
  .footerNav li{
    display: inline;
    padding: 20px;
  }